@{
    ViewBag.Title = "Contact";
}

@model _99eStuff.Models.ContactViewModel

<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <title>Contact US || 99eStuff</title>
</head>

<body>
    <!-- Start Bradcaump area -->
    <div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(../../Content/img/contact/contactBg.png) no-repeat scroll center center;">
        <div class="ht__bradcaump__wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title">Contact Us</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bradcaump area -->
    <!-- Start Contact Area -->
    <section class="htc__contact__area ptb--120 bg__white">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6 col-sm-12">
                    <div class="htc__contact__container">
                        <div class="htc__contact__address">
                            <h2 class="contact__title">contact info</h2>
                            <div class="contact__address__inner">
                                <!-- Start Single Adress -->
                                <div class="single__contact__address">
                                    <div class="contact__icon">
                                        <span class="ti-location-pin"></span>
                                    </div>
                                    <div class="contact__details">
                                        <p>Location : <br> 21, Pacurari, Iasi, Romania</p>
                                    </div>
                                </div>
                                <!-- End Single Adress -->
                            </div>
                            <div class="contact__address__inner">
                                <!-- Start Single Adress -->
                                <div class="single__contact__address">
                                    <div class="contact__icon">
                                        <span class="ti-mobile"></span>
                                    </div>
                                    <div class="contact__details">
                                        <p> Phone : <br><a href="#">+00 111 222 333 44</a></p>
                                    </div>
                                </div>
                                <!-- End Single Adress -->
                                <!-- Start Single Adress -->
                                <div class="single__contact__address">
                                    <div class="contact__icon">
                                        <span class="ti-email"></span>
                                    </div>
                                    <div class="contact__details">
                                        <p> Mail :<br><a href="#">info@99estuff.com</a></p>
                                    </div>
                                </div>
                                <!-- End Single Adress -->
                            </div>
                        </div>
                        <div class="contact-form-wrap">
                            <div class="contact-title">
                                <h2 class="contact__title">Message Sent!</h2>
                    </div>
                </div>
            </div>
                    </div>
                </div>
        </div>
    </section>
    <!-- Body main wrapper end -->
    <!-- Google Map js -->
</body>

</html>